* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}


/* SIDEBAR */
.sidebar {
  width: 80px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: #000;
  z-index: 100;
}



.logo {
  font-size: 22px;
  font-weight: 700;
  margin: 30px 0;
}

.sidebar nav a {
  writing-mode: vertical-rl;
  margin: 15px 0;
  color: #aaa;
  text-decoration: none;
  font-size: 12px;
}

.sidebar nav a:hover {
  color: #fff;
}

/* MAIN */
main {
  margin-left: 80px;
  width: calc(100% - 80px);
  position: relative;
}


/* HERO */
.hero {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
}


.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero h1 span {
  border-bottom: 3px solid #fff;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
}
section {
  position: relative;
  background: #fff;
  z-index: 1;
}


/* ABOUT */
.about {
  padding: 80px;
  max-width: 800px;
}

/* WORK */
.work-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.work-item {
  height: 250px;
  background: #eee;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  font-weight: 600;
}

/* SKILLS */
.skills {
  padding: 80px;
}

.skill {
  margin-bottom: 20px;
}

.bar {
  background: #ddd;
  height: 6px;
  margin-top: 8px;
}

.bar div {
  height: 100%;
  background: #000;
}

/* BLOG */
.blog {
  padding: 80px;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.blog-card {
  padding: 20px;
  background: #f5f5f5;
}

/* FOOTER */
footer {
  position: relative;
  background: #000;
  color: #aaa;
}
