* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}


/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 100vh;
  background: #000;
  color: #fff;
  transition: width 0.35s ease;
  z-index: 999;
  overflow: hidden;
}

.sidebar:hover {
  width: 220px;
}



.logo {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  letter-spacing: 2px;
}



.menu {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.menu a {
  position: relative;
  height: 55px;
  padding-left: 25px;
  display: flex;
  align-items: center;
  color: #aaa;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}
.menu a::after {
  content: attr(data-full);
  position: absolute;
  left: 70px;
  white-space: nowrap;
  opacity: 0;
  color: #fff;
  transition: opacity 0.25s ease, transform 0.25s ease;
  transform: translateX(-10px);
}
.sidebar:hover .menu a::after {
  opacity: 1;
  transform: translateX(0);
}
.menu a:hover {
  color: #fff;
}

.menu a:hover::before {
  content: "";
  position: absolute;
  left: 0;
  width: 3px;
  height: 100%;
  background: #fff;
}

/* MAIN */
main {
  margin-left: 70px;
  transition: margin-left 0.35s ease;
}

.sidebar:hover ~ main {
  margin-left: 220px;
}


/* HERO */
.hero {
  min-height: 100vh;
  background-image: url("C:\Users\Admin\Downloads\map-lying-wooden-table.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  padding: 80px;
}


.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
}


.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero h1 span {
  border-bottom: 3px solid #fff;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 30px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
}
section {
  position: relative;
  background: #fff;
  z-index: 1;
}


/* ABOUT */
.about {
  padding: 80px;
  max-width: 800px;
}

/* WORK */
.work-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.work-item {
  height: 250px;
  background: #eee;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  font-weight: 600;
}

/* SKILLS */
.skills {
  padding: 80px;
}

.skill {
  margin-bottom: 20px;
}

.bar {
  background: #ddd;
  height: 6px;
  margin-top: 8px;
}

.bar div {
  height: 100%;
  background: #000;
}

/* BLOG */
.blog {
  padding: 80px;
}

.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.blog-card {
  padding: 20px;
  background: #f5f5f5;
}

/* FOOTER */
footer {
  position: relative;
  background: #000;
  color: #aaa;
}
