* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0b0b0b;
  color: #ffffff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  position: fixed;
  width: 100%;
  background: rgba(0,0,0,0.8);
  backdrop-filter: blur(10px);
}

.navbar a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-size: 14px;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

/* HERO */
.hero {
  height: 100vh;
  padding: 120px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  font-size: 64px;
  line-height: 1.1;
}

.hero span {
  color: #00ffcc;
}

.hero p {
  margin: 20px 0;
  max-width: 400px;
  color: #aaa;
}

.hero button {
  width: fit-content;
  padding: 12px 30px;
  border: none;
  background: #00ffcc;
  cursor: pointer;
  font-weight: bold;
}

/* SECTIONS */
section {
  padding: 100px 60px;
}

.about, .projects, .contact {
  border-top: 1px solid #222;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.project-card {
  background: #111;
  padding: 40px;
  text-align: center;
  border: 1px solid #222;
}

