* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Segoe UI, sans-serif;
}

body {
  background: #000;
  color: #fff;
}

/* LAYOUT */
.layout {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 90px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: #000;
  border-right: 1px solid #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.brand {
  font-weight: bold;
  margin-bottom: 40px;
}

.side-nav {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.side-nav a {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-decoration: none;
  color: #aaa;
  font-size: 13px;
  letter-spacing: 2px;
}

.side-nav a:hover {
  color: #00ffd1;
}

/* CONTENT */
.content {
  margin-left: 90px;
  width: calc(100% - 90px);
}

/* SECTIONS */
.section {
  min-height: 100vh;
  padding: 100px;
}

.dark {
  background: #0b0b0b;
}

/* HERO */
.hero {
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1521737604893-d14cc237f11d");
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.7);
}

.hero-content {
  position: relative;
  max-width: 600px;
}

.hero h1 {
  font-size: 64px;
  margin-bottom: 20px;
}

.hero span {
  color: #00ffd1;
}

.hero button {
  padding: 12px 30px;
  background: #00ffd1;
  border: none;
  font-weight: bold;
}
